.shoe-list {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    height: calc(100vh - 4rem); /* Adjust the height as needed */
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2d3748;
    margin-bottom: 1rem;
}

.search-button {
    display: inline-block;
    background-color: #7148d3;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}
