@using System.Net.Http.Json
@using System.Text.Json
@inject HttpClient Http
@inject NavigationManager navigation
@rendermode InteractiveServer
@page "/Shop"

<PageTitle>Home</PageTitle>

<div class="text-center mb-16">
        <h2 class="text-4xl font-bold text-gray-800 mb-2">Shop</h2>
</div>

<div class="shoe-list">
	@foreach (Shoe shoe in shoes){
		<GroupProject.Components.Objects.ShoeSearchResult shoe="shoe" onClick ="NavToDetailsPage"></GroupProject.Components.Objects.ShoeSearchResult>
	}
</div>

@code {
	private List<Shoe> shoes = new List<Shoe>();

	protected async override Task OnInitializedAsync()
	{
		await Shoes.Init(Http);

		shoes = Shoes.GetShoes();

		await base.OnInitializedAsync();
	}

	private void NavToDetailsPage(Shoe shoe){
		navigation.NavigateTo($"/ShoeListing/{shoe.shoeID.ToString()}");
	}
}