<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="GroupProject.styles.css" />
    <link rel="stylesheet" href="Home.razor.css" />
    <link rel="stylesheet" href="ShoeSearchResult.razor.css" />
    <link rel="stylesheet" href="ShoeListing.razor.css" />
    <link rel="stylesheet" href="Login.razor.css" />
    <link rel="stylesheet" href="Createaccount.razor.css" />
    <link rel="stylesheet" href="Shop.razor.css" />
    <link rel="stylesheet" href="Review.razor.css" />
    <link rel="stylesheet" href="Cart.razor.css" />
    <link rel="stylesheet" href="CartListing.razor.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
