@page "/ShoeListing/{shoeString}"
@inject NavigationManager navigation
@rendermode InteractiveServer

<div class="shoe-listing">
    <img class="shoe-image" src="images/vansoldskool.jpg" alt="@shoe.model">
    <div class="shoe-details">
        <h3 class="shoe-model">@shoe.model</h3>
        <p class="shoe-price">$@shoe.price</p>
        <button class="view-details-button" @onclick="GoBack">
            Return
        </button>
    </div>
</div>

@code{
	[Parameter] public string shoeString { get; set; }
	private Shoe shoe;

	protected override Task OnInitializedAsync()
	{
		shoe = Shoes.GetShoeFromID(int.Parse(shoeString));
		return base.OnInitializedAsync();
	}

	private void GoBack(){
		navigation.NavigateTo($"/Shop");
	}

}