@page "/ShoeListing/{shoeString}"
@inject NavigationManager navigation
@rendermode InteractiveServer

<div class="shoe-listing">
    <img class="shoe-image" src="@shoe.imagePath" alt="@shoe.model">
    <div class="shoe-details">
        <h3 class="shoe-model">@shoe.model</h3>
        <p class="shoe-price">$@shoe.price</p>
		<button class="view-details-button" @onclick="AddToCart">
            Add to Cart
        </button>
        <button class="view-details-button" @onclick="GoBack">
            Return
        </button>
		<button class="view-details-button" @onclick="Review">
            Review
        </button>
    </div>
</div>

@code{
	[Parameter] public string shoeString { get; set; }
	private Shoe shoe;
	//private User user; (fill when user is implemented)

	protected override Task OnInitializedAsync()
	{
		shoe = Shoes.GetShoeFromID(int.Parse(shoeString));
		return base.OnInitializedAsync();
	}

	private void GoBack(){
		navigation.NavigateTo($"/Shop");
	}

	private void AddToCart() {
		//var query = $"insert into user-cart values('{user.username}'. '{shoe.shoeID}')"; (fill when user is implemented)
	}

	private void Review() {
		navigation.NavigateTo($"/review/{shoe.shoeID}");
	}

}