<div class="shoe-card">
    <div class="shoe-image-container">
		<img class="shoe-image" src="@shoe.imagePath" alt="@shoe.model" @onclick="() => onClick.InvokeAsync(shoe)">
        <div class="shoe-manufacturer">
            @shoe.manufacturer
        </div>
    </div>
    <div class="shoe-details">
        <h3 class="shoe-model">@shoe.model</h3>
        <p class="shoe-price">$@shoe.price</p>
        <button class="view-details-button" @onclick="() => onClick.InvokeAsync(shoe)">
            View Details
        </button>
    </div>
</div>

@code{
	[Parameter] public Shoe shoe { get; set; }
	[Parameter] public EventCallback<Shoe> onClick { get; set; }
}
